:root {
     /* colors */
  --font-color: rgba(255, 255, 255, 0.4);
  --a-color: rgba(255, 255, 255, 0.4);
  --a-hover-color: rgba(255, 255, 255, 1);
  --a-active-underline-color: greenyellow;
   /* size */
    --footer-height: 90px;
    --left-nav-md-width: 270px;
    --left-nav-xs-width: 50px;
    --left-nav-min-height: 480px;
    --nav-bottom-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* COMMON  */

.white {
    color: white;
}

.text-grey {
    color: #727373;
}

.float {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.fixed {
    position: fixed;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* MAIN */
main {
    width: 100%;
    height: calc(100% - var(--footer-height));
    background-color: #212121;
    overflow: auto;
}

main .nav-left {
    width: var(--left-nav-md-width);
    height: 100%;
    min-height: var(--left-nav-min-height);
    background-color: black;
}

.nav-left-top {
    width: 100%;
    height: calc(100% - var(--nav-bottom-height));
    overflow: hidden;
}

.nav-left-bottom {
    width: 100%;
    height: var(--nav-bottom-height);
}

/* NAV-MENU  */
.logo {
    width: 70%;
    padding: 1em 1.5em;
}

.logo img {
    width: 100%;
}

.logo #logo-small {
    display: none;
}

.container-menu ul {
    list-style: none;
}

.container-menu span {
    width: 10%;
    display: inline-block;
    margin: 0 0.5em 0 1.5em;
}

.container-menu span img {
    width: 100%;
    filter: invert(60%);
    vertical-align: middle;
    cursor: pointer;
}

.container-menu li {
    margin-bottom: 0.5em;
}

.container-menu li a {
    color: #727373;
}

.container-menu li a:hover {
    color: white;
}

.container-menu #home {
    display: block;
    border-left: 3px solid greenyellow;
}

.container-menu #home span {
    margin-left: 1.3em;
}

.container-menu #home img {
    filter: none;
}

.container-menu #home a {
    color: white;
}

.container-menu #home a:hover {
    text-decoration: underline;
}

/* PLAYLIST  */
.container-playlist {
    height: 70%;
    overflow: hidden;
    padding-left: 1.5em;
}

.container-playlist h3 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
} 

.container-playlist span i {
    font-size: 3.5em;
    vertical-align: middle;
    margin-right: 0.3em;
    color: #727373;
    cursor: pointer;
}
.container-playlist div {
    margin-bottom: 1em;
}
.container-playlist div a {
    color: #727373;
    font-weight: bold;
}

.container-playlist div a:hover {
    color: white;
}

.container-playlist .playlist-name {
    height: 60%;
    padding: 1em 0 3em 0;
    overflow: auto;
}

.container-playlist .playlist-name li {
    margin-bottom: 1em;
}

/* DOWNLOAD  */
.container-download {
    width: 100%;
}
.download {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
    border-bottom: 2px solid #727373;
}

.download span {
    width: 10%;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.download a:hover {
    color: white;
}

.download span img {
    width: 10%;
    vertical-align: middle;
    filter: invert(60%);
}

/* PROFILE  */
.profile {
    margin: 1em 1.5em; 
}

.profile span {
    width: 10%;
    margin-right: 0.8em;
}

.profile span img  {
    width: 10%;
    vertical-align: middle;
    background-color: #727373;
    border-radius: 50%;
}

.profile div a {
    font-weight: bold;
}

.profile div a:hover {
    text-decoration: underline;
}
/* MAIN CONTENT  */
main .main-content {
    width: calc(100% - var(--left-nav-md-width));
    height: 100%;
    padding-top: calc(var(--footer-height) + 2em);
    padding-bottom: 2em;
    overflow: auto;
}

/* UPGRADE BUTTON   */
.main-content header {
   top: 0;
   right: 0;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.3);
   width: calc(100% - var(--left-nav-md-width));
   height: var(--footer-height);
   justify-content: flex-end;
   align-items: center;  
}

.main-content header .cta-btn {
    color: white;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 70px;
    margin: 0 1em;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.5s;
}

.main-content header .cta-btn:hover {
    color: black;
    background-color: white;
}

/* MAIN MENU  */
.main-menu ul {
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu li {
    margin-right: 2em;
}

.main-menu li span {
    border-bottom: 1px solid greenyellow;
    padding-bottom: 0.3em;
    display: inline-block;
}
.main-menu li a {
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.main-menu li a:hover {
    color: var(--a-hover-color);
}

/* PLAYED SECTION  */
.container-song {
    margin: 3em 1em;
    width: 100%;
}
.played {
    width: 100%;
    margin-bottom: 2em;
}

.main-title {
   font-size: 1.5em;
   color: var(--a-hover-color);
}

.container-song ul {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container-song li {
    text-align: center;
    width: 15%;
    padding: 0 0.5em;
}

.album {
    width: 100%;
    height: 100%;
    position: relative;
}

.album-img {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 2em;
}

.play-hover {
    display: none;
    font-size: 2em;
    color: var(--a-hover-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album:hover .album-img{
    filter: opacity(0.6);
}
.album:hover .play-hover {
    display: block;
    cursor: pointer;
}

.song-title {
    color: var(--a-hover-color);
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.song-title:hover {
    text-decoration: underline;
}

.artist {
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
}

.artist:hover {
    color: var(--a-hover-color);
} 
/* JOHN DOE SECTION  */
.john-doe {
    margin-bottom: 2em;
}

.main-paragraph {
    color: var(--font-color);
    margin-top: 1em;
}
/* POPULAR  */
.popular img {
    border-radius: 50%;
}

/* FOOTER  */
footer {
    width: 100%;
    height: var(--footer-height);
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}
/* FOOTER COL-LEFT  */
.col-left {
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.col-left img {
    width: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

.track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
}

.col-left a {
    color: var(--a-hover-color);
    font-weight: bold;
    font-size: 0.8em;
}

.col-left span {
    color:  var(--font-color);
    font-size: 0.6em;
}

.col-left span:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
} 

.icon i {
    font-size: 1.7em;
    margin-right: 0.8em;
}

.icon i:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

/* FOOTER COL-MIDDLE  */

.col-middle {
    width: 60%;
}

.player {
    margin-bottom: 1em;
    width: 100%;
}
.player ul{
    justify-content: center;
    align-items: center;
}

.player li {
    padding: 0 1em;
}

.player li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.player li i {
    color: white;
}

.player li .fa-play-circle {
    font-size: 2em;
}

.timer {
   width: 100%;
   justify-content: center;
   align-items: center;
}

.timer span {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.time-bar {
    background: #727373;
    border-radius: 13px;
    height: 0.3em;
    width: 60%;
    margin: 0 2em;
    position: relative;
}
.time-bar:after {
    content: '';
    display: block;
    background: white ;
    width: 20%;
    height: 100%;
    border-radius: 9px;  
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    left: 18%;
    top: 0;
    transform: translate( 0, -40%);
    background-color: greenyellow;
    display: none;
}
.time-bar:hover .circle{
    display: block;
    cursor: pointer;
}
.time-bar:hover::after{
    content: '';
    display: block;
    background: greenyellow ;
    width: 20%;
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
}
/* COL-RIGHT  */
.col-right {
    width: 20%;
    justify-content: center;
    align-items: center;
}

.col-right i {
    color: #727373;
    font-size: 0.9em;
    margin-right: 1em;
}

.col-right i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.col-right .volume {
    background: #727373;
    border-radius: 13px;
    height: 0.3em;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.col-right .volume::after {
    content: '';
    display: block;
    background: white;
    border-radius: 13px;
    height: 0.3em;
    width: 20%;
    position: relative;
}

.volume .vol-circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    left: 18%;
    top: 0;
    transform: translate( 0, -40%);
    background-color: greenyellow;
    display: none;
}

.volume:hover .vol-circle {
    display: block;
    cursor: pointer;
}

.volume:hover::after {
    background: greenyellow;
    
}


/* MEDIA QUERY  */
@media screen and (max-width: 1100px) {
    main .nav-left {
        width: var(--left-nav-md-width);
    }
    
    .logo {
        width: 90%;
    }

    .container-menu {
        font-size: 1em;
        font-weight: bold;
        padding-bottom: 0.8em;
    }
    
    .container-menu span {
        width: 15%;
    }
    .container-menu span img {
        filter: invert(10%);
    }

    .container-playlist {
        font-size: 1.1em;
    }
    
    .download {
        font-size: 1em;
        font-weight: bold;
    }
    
    main .main-content {
        width: calc(100% - var(--left-nav-md-width));
    }
    main .main-content {
        padding-top: var(--footer-height);
    }
    .main-menu li {
        font-size: 1.3em;
        margin: 0.8em 1em;
    }

    .main-title {
        font-size: 1.8em;
        padding-left: 0.7em;
    }

    .main-paragraph {
        font-size: 0.9em;
        margin-left: 1.5em;
    }

    .container-song {
        margin: 0;
    }

    .container-song li {
        width: 23%;
        margin-left: 0.7em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    .col-left,
    .col-right {
        width: 25%;
    }

    .col-middle {
        width: 50%;
    }

    .col-right i {
        color: white;
    }
    
}

@media screen and (max-width: 700px) {
    .container-menu {
        font-size: 1em;
        padding-bottom: 0.8em;
    }
    .container-playlist,
    .playlist-name {
        font-size: 0.9em;
    }

    .download {
        font-size: 0.7em;
    }

    .profile {
        font-size: 0.7em;
        padding-left: 0.8em;
    }

    main .main-content {
        padding-top: var(--footer-height);
    }

    .main-menu {
        margin-bottom: 1em;
    }

    .main-menu li {
        padding: 0.8em 0.2em;
        margin-right: 0.7em;
        font-size: 0.8em;
    }

    .container-song {
        margin: 0;
    }

    .container-song li {
        width: 25%;
        padding: 0 0.5em;
    }

    .container-song .subtitle {
        font-size: 0.7em;
    }

    .main-title {
        font-size: 1em;
        padding-left: 0.8em;
    }
    
    .main-paragraph {
        font-size: 0.6em;
        padding-left: 1em;
    }

    .col-middle {
        width: 40%;
    }

    .col-left, 
    .col-right {
        width: 25%;
    }

}

@media screen and (max-width: 600px) {
    main .nav-left {
      width: var(--left-nav-xs-width);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    .logo #logo {
        display: none;
    }

    .logo #logo-small {
        display: block;
        margin: 1em auto;
        width: 60%;
    }

    .container-menu span {
        width: 100%;
        padding-left: 0.5em;
        margin: 0 0.5em;
    }

    .container-menu #home {
        border-left: none;
    } 

    .container-menu #home span {
        margin: 0 0.5em;
    }

    .container-menu span img {
        width: 50%;
    }

    .container-menu li a {
        display: none;
    }

    .container-playlist {
        display: none;
    }

    .download {
        border-bottom: none;
        padding: 0 0.5em;
    }

    .download span img {
        width: 60%;
        margin: 0 0.5em;
    }

    .download a {
        display: none;
    }

    .profile {
        margin: 0.5em auto; 
    }

    .profile span img {
        width: 40%;
        margin: 0.8em 1em;
    }

    .profile div a {
        display: none;
    }

    main .main-content {
      width: calc(100% - var(--left-nav-xs-width));
    }

    .main-menu li {
        margin: 0.7em;
    }

    .album {
        width: 100%;
    }

    .container-song {
        margin: 0;
    }
    .container-song ul {
        flex-wrap: wrap;
    }
    .container-song li {
        width: 50%;
    }
    .main-content header{
    width: calc( 100% - var(--left-nav-xs-width));
    }

    .col-left {
        margin: 0 0.5em;
        width: 30%;
    }

    .col-middle {
        padding: 0 1.5em;
        width: 40%;
    }

    
    

  }