:root {
     /* colors */
  --font-color: rgba(255, 255, 255, 0.4);
  --a-color: rgba(255, 255, 255, 0.4);
  --a-hover-color: rgba(255, 255, 255, 1);
  --a-active-underline-color: greenyellow;
   /* size */
    --footer-height: 90px;
    --left-nav-md-width: 230px;
    --left-nav-xs-width: 50px;
    --left-nav-min-height: 480px;
    --nav-bottom-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* COMMON  */
.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

.center {
    text-align: center;
}
.mg-auto {
    margin: 0 auto;
}

.white {
    color: white;
}

.text-grey {
    color: #727373;
}

.float {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.fixed {
    position: fixed;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* MAIN */
main {
    width: 100%;
    height: calc(100% - var(--footer-height));
    background-color: #131923;
    overflow: auto;
}

main .nav-left {
    width: var(--left-nav-md-width);
    height: 100%;
    min-height: var(--left-nav-min-height);
    background-color: black;
}

.nav-left-top {
    width: 100%;
    height: calc(100% - var(--nav-bottom-height));
}

.nav-left-bottom {
    width: 100%;
    height: var(--nav-bottom-height);
}

/* NAV-MENU  */
.logo {
    width: 70%;
    padding: 1em 1.5em;
}

.container-menu ul {
    list-style: none;
}

.container-menu span {
    width: 10%;
    display: inline-block;
    margin: 0 0.5em 0 1.5em;
}

.container-menu span img {
    width: 100%;
    filter: invert(60%);
    vertical-align: middle;
    cursor: pointer;
}

.container-menu li {
    margin-bottom: 0.5em;
}

.container-menu li a {
    color: #727373;
}

.container-menu li a:hover {
    color: white;
}

.container-menu #home {
    display: block;
    border-left: 3px solid greenyellow;
}

.container-menu #home span {
    margin-left: 1.3em;
}

.container-menu #home img {
    filter: none;
}

.container-menu #home a {
    color: white;
}

.container-menu #home a:hover {
    text-decoration: underline;
}

/* PLAYLIST  */
.container-playlist {
    height: 70%;
    overflow: hidden;
}

.container-playlist h3 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
} 

.container-playlist span i {
    font-size: 3.5em;
    vertical-align: middle;
    margin-right: 0.3em;
    color: #727373;
    cursor: pointer;
}
.container-playlist div {
    margin-bottom: 1em;
}
.container-playlist div a {
    color: #727373;
    font-weight: bold;
}

.container-playlist div a:hover {
    color: white;
}

.container-playlist .playlist-name {
    height: 60%;
    padding: 1em 0 3em 0;
    overflow: auto;
}

.container-playlist .playlist-name li {
    margin-bottom: 1em;
}

/* DOWNLOAD  */
.download {
    border-bottom: 2px solid #727373;
    padding: 0.5em;
}

.download span {
    width: 10%;
    margin-right: 0.5em;
}

.download a:hover {
    color: white;
}

.download span img {
    width: 10%;
    vertical-align: middle;
    filter: invert(60%);
}

/* PROFILE  */
.profile {
    margin: 1em 2em; 
}

.profile span {
    width: 10%;
    margin-right: 0.8em;
}

.profile span img  {
    width: 10%;
    vertical-align: middle;
    background-color: #727373;
    border-radius: 50%;
}

.profile div a {
    font-weight: bold;
}

.profile div a:hover {
    text-decoration: underline;
}
/* MAIN CONTENT  */
main .main-content {
    width: calc(100% - var(--left-nav-md-width));
    height: 100%;
    padding-top: calc(var(--footer-height) + 2em);
    padding-bottom: 2em;
    overflow: auto;
}

/* UPGRADE BUTTON   */
.main-content header {
   top: 0;
   right: 0;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.3);
   width: calc(100% - var(--left-nav-md-width));
   height: var(--footer-height);
   justify-content: flex-end;
   align-items: center;  
}

.main-content header .cta-btn {
    color: white;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 70px;
    margin: 0 1em;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.5s;
}

.main-content header .cta-btn:hover {
    color: black;
    background-color: white;
}

/* MAIN MENU  */
.main-menu ul {
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu li {
    margin-right: 2em;
}

.main-menu li span {
    border-bottom: 1px solid greenyellow;
    padding-bottom: 0.3em;
    display: inline-block;
}
.main-menu li a {
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.main-menu li a:hover {
    color: var(--a-hover-color);
}

/* PLAYED SECTION  */
.container-song {
    margin: 3em 1em;
}
.played {
    width: 100%;
    margin-bottom: 2em;
}

.main-title {
   font-size: 1.5em;
   color: var(--a-hover-color);
}

.container-song ul {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container-song li {
    width: 100%;
}

.album {
    width: 180px;
    margin-bottom: 1em;
    margin-top: 2em;
}

.song-title {
    color: var(--a-hover-color);
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

.artist {
    color: var(--font-color);
    font-weight: bold;
}































/* FOOTER  */
footer {
    width: 100%;
    height: var(--footer-height);
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
/* FOOTER COL-LEFT  */
footer .col-left {
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

footer .col-left img {
    width: 40px;
    margin: 0 10px;
    vertical-align: middle;
}

footer .track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
}

footer .col-left a {
    color: var(--a-hover-color);
    font-weight: bold;
    font-size: 0.8em;
}

footer .col-left span {
    color:  var(--font-color);
    font-size: 0.6em;
}

footer .col-left span:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
} 

footer .icon i {
    font-size: 1.7em;
    margin-right: 0.8em;
}

footer .icon i:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

/* FOOTER COL-MIDDLE  */

footer .col-middle {
    flex-direction: column;
    align-items: center;
    width: 60%;
}

footer .player {
    margin-bottom: 1em;
}
footer .player ul{
    justify-content: center;
    align-items: center;
}

footer .player li {
    padding: 0 1em;
}

.player li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

footer .player li i {
    color: white;
}

.fa-play-circle {
    font-size: 2em;
}

footer .timer {
    width: 100%;
   justify-content: center;
   align-items: center;
}

footer .timer span {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

footer .time-bar {
    background: #727373;
    border-radius: 13px;
    height: 0.3em;
    width: 60%;
    margin: 0 2em;
    position: relative;
}
footer .time-bar:after {
    content: '';
    display: block;
    background: white ;
    width: 20%;
    height: 100%;
    border-radius: 9px;  
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    left: 18%;
    top: 0;
    transform: translate( 0, -40%);
    background-color: greenyellow;
    display: none;
}
.time-bar:hover .circle{
    display: block;
    cursor: pointer;
}
.time-bar:hover::after{
    content: '';
    display: block;
    background: greenyellow ;
    width: 20%;
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
}
/* COL-RIGHT  */
footer .col-right {
    width: 20%;
    justify-content: center;
    align-items: center;
}

.col-right i {
    color: #727373;
    font-size: 0.9em;
    margin-right: 1em;
}

.col-right i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.col-right .volume {
    background: #727373;
    border-radius: 13px;
    height: 0.3em;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.col-right .volume::after {
    content: '';
    display: block;
    background: white;
    border-radius: 13px;
    height: 0.3em;
    width: 20%;
    position: relative;
}

.volume .vol-circle {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    left: 18%;
    top: 0;
    transform: translate( 0, -40%);
    background-color: greenyellow;
    display: none;
}

.volume:hover .vol-circle {
    display: block;
    cursor: pointer;
}

.volume:hover::after {
    background: greenyellow;
    
}